{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

    <title>{{ tech.title }}</title>
{% endblock %}

{% block body %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
        <h1 class="text-center pt-3">{{ tech.title }}</h1>
        <img class="img" src="{{ tech.image.url }}" height=300px />
        <br />
        <br />
        {{ tech.body }}
        <br />
        {% if tech.file %}<!--Pobierz certyfikat umiejętności w PDF jeśli dostępny-->
            <br />
            {% with tech as t %}
            <a href="{{ t.file.url }}">{{ items.see_cert }}</a>
            {% endwith %}
        {% else %}
            <br/>
        {% endif %}
      </div>

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3">
          <br />
          <h4 class="font-strong">{{ items.skills_all }}</h4>
          <ol class="list-unstyled mb-0">
            {% for tech in techs.all %}
            <li><a href="{% url 'skills' tech.id %}">{{ tech.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
        <div class="p-3">
          <h4 class="font-strong">{{ items.download_cv }}</h4><!--Pobierz najnowsze CV w PDF-->
          <ol class="list-unstyled mb-0">
            <li><a href="{{ cv.file.url }}">{{ items.download_pdf }}</a></li>
        </div>
      </aside><!-- /.blog-sidebar -->
      </div>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
