{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <!-- Custom styles for this template
  <link href="album.css" rel="stylesheet"> -->
  <title>{{ pritems.big_intro }}</title>

{% endblock %}

{% block body %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-2">{{ pritems.big_intro }}</h1>
          <br>
          <p class="lead">{{ pritems.small_intro }}</p>

        </div>
        <div class="container">
          <div class="card-deck mb-3 text-center">
            {% for myprog in myprogs.all %}
                 <div class="card mb-4 shadow-sm">
                   <div class="card-header">
                     <h4 class="my-0 font-weight-normal">{{ myprog.title }}</h4>
                   </div>
                   <div class="card-body">
                     <img class="img-fluid" src="{{ myprog.image.url }}" width=150 height=100 />
                     <ul class="list-unstyled mt-3 mb-4">
                       <li>{{ pritems.version }}: {{ myprog.version }}</li>
                       <li>{{ pritems.published }}: {{ myprog.date_short }}</li>
                       <li>{{ pritems.weight }}: {{ myprog.weight }}</li>
                       <a href="{% url 'progpage' myprog.place %}"><li>{{ pritems.details }}</li></a>
                     </ul>
                       <a href="{% url 'launchme' myprog.place %}" class="btn btn-lg btn-block btn-primary">{{ pritems.launch_new }}</a>
                   </div>
                 </div>
            {% endfor %}
        </div>
      </div>
{% endblock %}

{% block scripts %}
{% endblock %}
