{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <!-- Custom styles for this template
  <link href="album.css" rel="stylesheet"> -->
  <title>{{ items.headtitle }}</title>

{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <br />
    <div class="container">
      <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">{{ myprog.title }}</h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ pritems.version }}: {{ myprog.version }}</li>
                <li>{{ pritems.system }}: {{ myprog.compatible }}</li>
                <li>{{ pritems.published }}: {{ myprog.date_short }}</li>
                <li>{{ pritems.weight }}: {{ myprog.weight }}</li>
                <li>{{ pritems.license }}: {{ myprog.license }}
                <a href="{{ myprog.downlink }}" target="_blank"><li>{{ pritems.download_exe }}</li></a>
                <a href="{{ myprog.gitsrccode }}" target="_blank"><li>{{ pritems.link_git }}</li></a>
              </ul>
              <p>{{ myprog.readme }}</p>

              <a href="{% url 'launchme' myprog.place %}" class="btn btn-lg btn-block btn-primary">{{ pritems.launch_new }}</a>

            </div><!-- /.col-lg-4 -->
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="{{ myprog.image.url }}">
            </div>
          </div><!-- /.row -->
      <hr class="featurette-divider">
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
