{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <title>Moje Programy</title>
{% endblock %}

{% block styles %}
  <link href="{% static 'pybrun.css' %}" rel="stylesheet">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
  <div class="container"><!--start container for the APP-->
    <h1 class="px-3 py-3 pt-md-5 pb-md-4 text-center">{{ rand.title }}</h1>
    <br />
    <form id="appform" name="appform"><!--start application form-->
      <div class="py-3 row"><!--start radio selection of 4 games-->
        <div class="col-md-3">
          <label class="contain">{{ rand.sel1 }}
            <input type="radio" class="radio" name="gamesel" Value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-3">
          <label class="contain">{{ rand.sel2 }}
            <input type="radio" class="radio" checked="checked" name="gamesel" Value="2">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-3">
          <label class="contain">{{ rand.sel3 }}
            <input type="radio" class="radio" name="gamesel" Value="3">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-3">
          <label class="contain">{{ rand.sel4 }}
            <input type="radio" class="radio" name="gamesel" Value="4">
            <span class="checkmark"></span>
          </label>
        </div>
      </div><!--end radio-->

      <div class="py-3 row"><!--row 1: 2 labels and a DATE input FROM-->
        <div class="col-md-6">
          <p class="contain">{{ rand.mark_selection }}:</p>
        </div>
        <div class="col-md-3">
          <label class="contain" for="date1">{{ rand.start_date }}:</label>
        </div>
        <div class="col-md-3">
          <input id="date1" class="contain" type="date">
        </div>

      </div><!--end row 1-->

      <div class="py-3 row"><!--row 2: 2 labels, checkbox "Całość pomiarów" and a DATE input TO-->
        <div class="col-md-3">
          <p class="contain">{{ rand.mark_all }}:</p>
        </div>
        <div class="col-md-3">
          <input name="checkboxG1" id="checkboxG1" class="css-checkbox" type="checkbox">
          <label for="checkboxG1" class="css-label"></label>
        </div>
        <div class="col-md-3">
          <label class="contain" for="date2">{{ rand.end_date }}:</label>
        </div>
        <div class="col-md-3">
          <input id="date2" class="contain" type="date">
        </div>
      </div><!--end row 2-->

      <div class="py-3 row"><!--row 3: Solitary introductory wide label + graph placement-->
        <div class="col-md-6">
          <p class="contain">{{ rand.gen_stats }}:</p>
        </div>
        <div id="randgraph" class="col-md-6">
          <!--Miejsce na defaultowy graf w odcieniach szarości-->
        </div>
      </div><!--end row 3-->

      <div class="py-3 row"><!--row 4: 2 labels, 2 checkboxes: "Najczęstsza i najrzadsza liczba", "Bez losowań"-->
        <div class="col-md-3">
          <p class="contain">{{ rand.hi_low }}:</p>
        </div>
        <div class="col-md-3">
          <input name="checkboxG2" id="checkboxG2" class="css-checkbox" type="checkbox">
          <label for="checkboxG2" class="css-label"></label>
        </div>
        <div class="col-md-3">
          <p class="contain">{{ rand.no_raw }}:</p>
        </div>
        <div class="col-md-3">
          <input name="checkboxG3" id="checkboxG3" class="css-checkbox" type="checkbox">
          <label for="checkboxG3" class="css-label"></label>
        </div>
      </div><!--end row 4-->

      <div class="py-3 row"><!--row 5: 2 labels, checkbox "Najczęściej padające liczby", numfield "Ilość liczb"-->
        <div class="col-md-6">
          <p class="contain">{{ rand.mode }}:</p>
        </div>
        <div class="col-md-3">
          <p class="contain">{{ rand.count }}:</p>
        </div>
        <div class="col-md-3">
          <input name="numinput" id=numinput data-type=numinput min="0" max="5" class="numinput" type="number">
          <label for="numinput"></label>
        </div>
      </div><!--end row 5-->

      <div class="py-3 row"><!--row 6: 2 labels, 2 checkboxes: "Średnie wyników losowań", "Generuj wykres"-->
        <div class="col-md-3">
          <p class="contain">{{ rand.avg }}:</p>
        </div>
        <div class="col-md-3">
          <input name="checkboxG4" id="checkboxG4" class="css-checkbox" type="checkbox">
          <label for="checkboxG4" class="css-label"></label>
        </div>
        <div class="col-md-3">
          <p class="contain">{{ rand.chart }}:</p>
        </div>
        <div class="col-md-3">
          <input name="checkboxG5" id="checkboxG5" class="css-checkbox" type="checkbox">
          <label for="checkboxG5" class="css-label"></label>
        </div>
      </div><!--end row 6-->

      <div class="py-3 row"><!--row 7: 2 labels, 2 buttons: "Generuj", "Zapisz" [raport]-->
        <div class="col-md-3">
          <p class="contain">{{ rand.score }}:</p>
        </div>
        <div class="col-md-3">
          <button type="input" id="generate" class="btn btn-lg btn-block btn-primary">{{ rand.gen }} {% csrf_token %}</button>
        </div>
        <div class="col-md-3">
          <p class="contain">{{ rand.save_sc }}:</p>
        </div>
        <div class="col-md-3">
          <button type="button" id="save" class="btn btn-lg btn-block btn-primary">{{ rand.saveme }}</button>
        </div>
      </div><!--end row 7-->

      <div class="py-3 row"><!--row 8: 1 label, 1 button "zagraj w wybraną grę", 2 textfields: "Twój raport". "Twoje liczby" -->
        <div class="col-md-3">
          <p class="contain">{{ rand.your }}:
          </div>
          <div class="col-md-3">
            <textarea class="textarea" id="textarea1" rows="8"></textarea>
          </div>
          <div class="col-md-3">
            <button type="input" class="btn btn-lg btn-block btn-primary" id='play'>{{ rand.play }} {% csrf_token %}</button>
          </div>
          <div class="col-md-3">
            <textarea class="textarea" id=textarea2 rows="1"></textarea>
            <label for="textarea2" class="contain">{{ rand.nums }}</label>
          </div>
        </div><!--end row 8--><!--start of application form {% csrf_token %} -->
    </form><!--end of application form-->
  </div><!--end container-->
{% endblock %}

{% block scripts %}
  <script src="{% static 'myjs.js' %}"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.1.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.1.min.js"></script>
{% endblock %}
