{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

    <title>{{ items.blog }}</title>

{% endblock %}

{% block body %}
    <main role="main">
      <div class="container marketing">
        <h1 class="text-center pt-3">{{ items.blogfeed }}</h1>
        <h2 class="pt-2">{{ items.fresh_entries }}</h2>
        {% for blog in blogs.all %}
          <hr class="featurette-divider">
           <div class="row featurette">
             <div class="col-md-7">
               <a href="{% url 'detail' blog.id %}"><h2 class="featurette-heading">{{ blog.title }}</h2></a> <h5 class="text-muted">{{ blog.pubdate_short }}</h5>
               <p class="lead">{{ blog.summary }}</p>
             </div>
             <div class="col-md-5">
               <a href="{% url 'detail' blog.id %}"><img class="featurette-image" src="{{ blog.image.url }}" height="120px" /></a>
             </div>
           </div>
        {% endfor %}
      </div>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
