<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head %}
    <title>Tytuł Bazowy - nie powinieneś tego widzieć!</title>
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block styles %}
    <!-- Tu wrzucaj dodatkowe style na wzornikach rozszerzających -->
    {% endblock %}
    <!--styl menu językowego -->
    <link href="{% static "langcss.css" %}" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">{{ items.mainpage }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul id="level_one" class="navbar-nav ml-auto"><!-- Id do zmiany języka -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newsletter' %}">{{ items.news }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'allblogs' %}">{{ items.blog }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'download' %}">{{ items.download }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">{{ items.contact }}</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">{{ items.logout }} ({{ user.username }})</a>
              {% else %}
              <a class="nav-link" href="{% url 'logger' %}">{{ items.login }}</a>
              {% endif %}
            </li>
            <li class="nav-item"><!-- Menu zmiany języka. Nie ruszaj tego -->
              <img src="{{ items.lang_flag.url }}" height=20 />
              <ul class="level_two">
                {% for lang_id, lang_flag in langs %}
                  <li><img id="{{ lang_id }}" src="/media/{{ lang_flag }}" height=20 /></li>
                {% endfor %}
              </ul>
            </li><!-- Koniec Menu zmiany języka -->
          </ul>
        </div>
      </nav>
    </header>

      {% block body %}
      {% endblock %}

      <footer class="text-muted">
        <div class="container text-center">
          <p> &copy; Jakub Kozdrowicz {% now "Y" %}</p>
        </div>
      </footer>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static "jquery.js" %}"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!--My Javascript-->
      <script src="{% static "langjs.js" %}"></script>
      {% block scripts %}
      {% endblock %}
    </body>
  </html>
