{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <title>{{ items.contact }}</title>
{% endblock %}

{% block styles %}

{% endblock %}

{% block body %}
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ items.welcome }}</h1>
          <img src="{{ items.myphoto.url }}" height="250" />
          <p class="lead text-muted">{{ items.intro }}</p>
          <p>
            <a href="mailto:jakub.kozdrowicz@gmail.com" class="btn btn-primary my-2">{{ items.send_email }}</a>
          </p>
        </div>
      </section>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
