{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

    <title>{{ trick.title }}</title>
{% endblock %}

{% block body %}
    <main role="main">
      <div class="container">
        <h1 class="text-center pt-3">{{ trick.title }}</h1>
        <br />
        <img class="img" src="{{ trick.image.url }}" height=300px />
        <br />
        <br />
        {{ trick.summary|linebreaksbr }}
        <br />
        <a href="{{ trick.link }}" target="_blank">Więcej...</a>
      </div>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
